@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700&family=Montserrat:wght@300&family=Roboto+Mono&display=swap');
.theme-light {
    --bgColor: #161616;
    
    --dot-color: #afafaf;
    --textHeading: #cfcfcf;
    --text2: #A7A9AC;
    --text3: rgb(117, 117, 117);
    --textsmall: #6b6b6b;
    --accent2: #191f28;
    --border: #afafaf;
    --accent3: #26dc96;
    --radial1: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.023) 1%, rgba(0, 0, 0, 1) 27%);
 }

.theme-dark {
    --bgColor: #f5f5f5;
    --dot-color: #000000;
    --textHeading: #4f4f4f;
    --text2: #1d1d1d;
    --text3: rgb(117, 117, 117);
    --textsmall: #9d9d9d;
    --accent2: #dfdfdf;
    --border: #343434;
    --accent3: #13535a;
    --radial1: radial-gradient(circle at 50% 50%, rgba(176, 176, 176, 0.47) 0%, rgba(93, 93, 93, 0.156) 1%, rgb(233, 233, 233) 17%);
} 
.faicon1{
  color: white;
}
.faicon2{
  color: black;
}
ul {
  list-style-type: none;
}
#aboutcontent li:before { 
  content: "▹"; 
  margin-left: -20px; 
  margin-right: 10px; 
  color: var(--accent3); 
} 

 body,html {
  margin: 0;
  padding: 0;
  background: var(--bgColor);
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
}
* {
  box-sizing: border-box;
}
a{
  color: var(--textHeading);
  text-decoration: none;
}
span{
  color: var(--textHeading);
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  font-weight: 500
}
p, h3{
  color: var(--text2);
}
h2{
  color: var(--text2);
  font-size: 3rem;
}
h3{
  font-weight: bold;
}
.subheading{
  color: var(--accent3);
  font-weight: 500;
  font-size: 1.1rem;
}
.logo{
  height: 50px;
  width: 50px;
}
#homecontainer{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
#home-info{
  display: flex;
  position: absolute;
  left: 4rem;
  top: 3.0%;
}
.description {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  left: 4rem;
  bottom: 7%;
}
.info-title h1{
  font-family: 'Manrope', sans-serif;
  transition: 200ms ease-in;
  font-size: 4rem;
  font-weight: 100;
  color: var(--textHeading);
  padding-top: 2rem;
}
.info-title h4{
  font-family: 'Manrope', sans-serif;
  color: var(--textHeading);
  padding-left: 0.2rem;
}
.info-title{
  justify-content: left;
  margin: 0;
}

.right-bar i{
  font-size: 1.4rem;
  color: var(--text2);
}
.right-bar {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  width: 40px;
  right: 0.2%;
  left: auto;
  bottom: 50px;
  z-index: 10;
  padding: 2rem 0;
}
#subheading-line{
  height: 1px;
  background-color: #b4b4b4;
}
#links{
  width:max-content;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  align-items: center;
  justify-content: center;
}
.home-links{
  font-size: large;
}
#socials{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
#socials-icon{
  fill: var(--text2);
  font-size: 2rem;
}
.left-bar {
  width: 40px;
  position: fixed;
  bottom: 9%;
  left: .5%;
  right: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.left-bar button{
  cursor: pointer;
  color: var(--textHeading);
  height: 20px;
  background: transparent;
  border: transparent;
  transform: rotate(-90deg) translateY(-25px);
  width: 80px;
}
.left-bar svg{
  transform: translateY(2px);
}

.footer{
  position: fixed;
  bottom: 6%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textsmall);
  font-size: 0.8rem;
}

.container{
  width: 60%;
  margin: auto;
}

/* project page */
#project{
  padding: 8rem 0;
}
#project-header{
  padding: 4rem 0;
  font-size: 2rem;
}
#project-header p{
  font-size: 1rem;
}
#project-header H1{
  color: var(--textHeading);
}
.archive-tiles{
  display: grid;
  padding: 2rem 0;
  gap: 2rem;
}

.tile-row{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: space-between;
}
.tile{
  width: 30%;
  height: 200px;
  border: var(--textHeading) 2px solid;
}
.featured-project{
  position: relative;
  display: grid;
  height: 350px;
  margin: 4rem auto;
  background-color: var(--accent2);
  border: var(--border) 2px solid;

}
.featured-project .image{
  position: absolute;
  justify-self:flex-start;
  height: 347px;
  width: 45%;
  background-color: #c5c5c5;
}

.featured-project .info{
  padding: 2rem 2rem 0 2rem;
  z-index: 20;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  width: 55%;
}
.featured-project .info h3{
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color: var(--accent3);

}
.featured-project .info h2{
  font-size: 2rem;
  padding-bottom: 1rem;
}

.featured-project .info ul{
  display: flex;
  gap: 1rem;justify-content: right;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'Roboto Mono', monospace;
  list-style-type: none;
  color: var(--accent3);
}

.tags{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
#taglink{
  justify-content: right;
  display: flex;
  gap: 1rem;
}

.featured-description{
  flex-wrap: wrap;
  width: 100%;
}

.anim {
  position: absolute;
  z-index: -100;
  /* width: 95%; */
  height: 90vh;
  margin: auto;
  display: flex;
  left: 3rem;
  right: 3rem;
  top: 3rem;
  bottom: 3rem;
  border: 1px solid var(--text2);
  background:var(--radial1)
}
@media screen and (max-width: 1600px) {
  .featured-project .image img{
    display: none;
  }
  .featured-project .image{
    background-color: transparent;
  }
  .featured-project{
    width: 100%;
    margin: 4rem 0 4rem 0;
  }
  .tile-row{
    justify-content:left;
  }
  .featured-project .info{
    width: 100%;
  }

}
@media screen and (max-width: 1200px) {
  .tile{
    width: 100%;
    /* text-align: center; */
  }
}
@media screen and (max-width: 900px) {
  .footer{
    display: none;
  }
  #home-info h1{
    font-size: 3rem;
  }
  #subheading-line{
    width: 90%;
  }
  .container{
    width: 80%;
  }

  .tags{
    position: relative;
    padding: 0;
    bottom: 0;
    right: 0;
  }
  .tags ul{
    padding: 0;
  }

  .featured-project {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 360px) {
  #home-info h1{
    font-size: 2rem;
  }
  #subheading-line{
    width: 77%;
  }

  .tile a{
    top: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .anim{
    left: 2rem;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
  }
  .description{
    left: 3rem;
  }
  .featured-project{
    padding: 0;
    justify-content: center;
  }
  .featured-project .info{
    padding: 1rem;
  }
  #home-info {
    left: 3rem;
  }

}


.featured-project .image{
  display: flex;
}
.featured-project .image img{
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  opacity: 0.9;
  transition: all 0.3s ease-out;

}
.featured-project .image img:hover{
  opacity: 1;
}


/* tabs */
.tabholder{
  width: 70%;
  height: 250px;
  display: flex;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.bloc-tabs {
  display: flex;
  flex-direction: column;
  position: relative;
}

.tab_btn{
  height: 30px;
  text-decoration: none;
  border: none;
  background-color: #191f28;
}

.tab_btn.active{
  color: var(--accent3);
}
.line{
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 20px;
  background-color: var(--accent3);
  transition: all 0.3s ease-in-out;
}
#aboutheader{
  padding-top: 4rem;
}
#aboutheader h1{
  font-size: 3rem;
  color: var(--textHeading);
  padding-bottom: 2rem;
}

#aboutcontent{
  padding: 1rem;
  color: var(--text2);
  border: var(--accent2) 2px solid;
}
#aboutcontent p{
  padding-bottom: 1rem;
}
#aboutcontent ul{
  margin: 0 0 1rem 0 ;
}
#tabdiv{
  display: none;
  padding: 2rem 0;
}
#tabdiv h3{
    padding: 1rem 0;
}

.tile{
  display: flex;
  position: relative;
  background-color: #000000;
}

.tile a{
  z-index: 1;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.archiveimage img{
  width:100%;
  height:100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 0;
  transition: all 0.3s ease-out;
}
.archiveimage img:hover{
  opacity: 1;
}
.archiveinfo{
  pointer-events: none;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
}
.archiveinfo h6{
  font-size: 1.2rem;
  color: rgb(209, 209, 209);
}
.archiveinfo p{
  color: #26dc96;
}
#socials-icon2{
  fill:#26dc96;
  font-size: 1.5rem;
}
#socials-icon3{
  fill:#26dc96;
  font-size: 1.5rem;
  right: 2rem;
  position: relative;
}
.tagdate{
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 100;
  color: rgb(152, 152, 152);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  pointer-events: none;
}


/* scroll reveals */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.revactive{
  transform: translateY(0);
  opacity: 1;
}